<div id="<%= dom_id flat %>">
  <div class="img_container mb-4">
    <%= cl_image_tag(flat.photo.key, :width=>1500, :height=>1500, :crop=>"limit")%>
  </div>

  <p class="mb-0">
    <strong>Name:</strong>
    <%= flat.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= flat.address %>
  </p>
</div>
