#flats img {
  // width:12rem;
  // width: 100%;
  // aspect-ratio: 1/1;
}
.img_container {
  width: 100%;
  overflow:auto;

  img {
    display: block;
    width: 100%;
    object-fit: cover;
  }

}

#flats .card .img_container{
  aspect-ratio: 16/9;

  img {

    height: 100%;

  }
}
